header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
}

.special-link {
    color: red;
    font-weight: bold;
}

body{
    background-color: #FFD18B;
    margin: 0;
    padding: 0;
}
.containerIMG{
    display: flex;
    justify-content: center;
}

